<footer class="bg-light text-center text-lg-start mt-4">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">About Us</h5>
        <p>
          Learn more about our team and the work we do. We specialize in web and mobile development.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled mb-0">
          <li><a routerLink="/about" class="text-dark">About</a></li>
          <li><a routerLink="/projects" class="text-dark">Projects</a></li>
          <li><a routerLink="/contactus" class="text-dark">Contact Us</a></li>
          <li><a routerLink="/gallery" class="text-dark">Gallery</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact Us</h5>
        <p>Email: info &copy; example.com</p>
        <p>Phone: +123 456 789</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <a href="#" class="text-dark me-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-dark me-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-dark me-2"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark text-white">
    &copy; 2024 Copyright: YourWebsite.com
  </div>
</footer>
